<div class="side-image">
  <div class="images-wrapper"></div>
    <div class="side-image-content">
      <h4><%=@personality.catchphrase%></h4>
      <br>
      <h1><%=@personality.MBPT%></h1>
      <br>
      <div>
        <h4>Your Jungian Functional Preferences</h4>
          <ul>
            <li>Your Dominant Function: <%= @personality.function.Dominant %></li>
            <li>Your Auxiliary Function: <%= @personality.function.Auxiliary %></li>
            <li>Your Tertiary Function: <%= @personality.function.Tertiary %></li>
            <li>Your Inferior Function: <%= @personality.function.Inferior %></li>
          </ul>
        <br>
        <p>For more info checkout out the <a href="/background">background</a> on the Myers-Briggs functions</p>
      </div>
      <h4>Full Description</h4>
      <p><%=simple_format(@personality.full_description)%></p>

      <h4>Famous people of this type:</h4>
      <p><%= @personality.famous_people %></p>
    </div>
  </div>
</div>

<hr>
<footer>Explanation taken from <a href="https://www.personalitypage.com/html/portraits.html">personality pages</footer>

<style>
.side-image .images-wrapper {
    background: url(<%= image_path("background_images/#{randomized_background_image}.JPG")%>) no-repeat;
    display: table-cell;
    width: 33.3333%;
    background-position: center bottom;
    background-size: cover;
    border-right: 1px solid rgba(38, 74, 38, 0.2);
}
</style>
