<div class="cards">

  <% @users.each do |user| %>
    <% if user.image && user.personality %>
      <div class="card">
          <div class="card-image">
            <%= image_tag(user.image)%>
          </div>
          <div class="card-header">
            <h4><%= user.name if user.name %>:<%= user.nickname if user.nickname %> - <%= user.personality.MBPT %> </h4>
          </div>
          <div class="card-copy">
            <p><%= user.personality.short_description if user.personality.short_description %></p>
          </div>
      </div>
      <% end %>
    <% end %>

</div>
