<div class="cards">

  <div class="card">
    <% @users.each do |user| %>
    <div class="card-image">
      <%= image_tag(user.image) if user.image%>
    </div>
    <div class="card-header">
      <h4><%=user.personality.MBPT%></h4>
      <%= user.name if user.name%> - <%= user.nickname if user.nickname %>
    </div>
    <div class="card-copy">
      INTJ's:
      <%= user.personality.short_description if user.personality.short_description %>
    </div>
  </div>
  <% end %>

</div>
