<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="/" class="logo">
      <%= image_tag("Logo.png") %>
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="/background">Background</a></li>
        <li class="nav-link"><a href="/about">About</a></li>
        <li class="nav-link more"><a href="#">The APIs</a>
          <ul class="submenu">
            <li><a href="/typealyzer">The Typealyzer</a></li>
            <li><a href="/hedonometer">The Hedonometer</a></li>
          </ul>
        <li class="nav-link"><a href="/types/type">The 16 types</a></li>
        <li class="nav-link more"><a href="#">The Types Indepth</a>
          <ul class="submenu">
            <li><%= link_to "INTJ-The Mastermind",types_INTJ_path %> </a></li>
            <li><%= link_to "INFJ-The Counselor", types_INFJ_path %> </a></li>
            <li><%= link_to "ISTJ-The Pragmatist",types_ISTJ_path %> </a></li>
            <li><%= link_to "ISFJ-The Nurturer",  types_ISFJ_path %> </a></li>
            <li><%= link_to "INFP-The Romantic",  types_INFP_path %> </a></li>
            <li><%= link_to "INTP-The Thinker",   types_INTP_path %> </a></li>
            <li><%= link_to "ISTP-The Mechanic",  types_ISTP_path %> </a></li>
            <li><%= link_to "ISFP-The Peacemaker",types_ISFP_path %> </a></li>
            <li><%= link_to "ESTP-The Promoter",  types_ESTP_path %> </a></li>
            <li><%= link_to "ESFP-The Performer", types_ESFP_path %> </a></li>
            <li><%= link_to "ENFP-The Inspirer",  types_ENFP_path %> </a></li>
            <li><%= link_to "ENTP-The Visionary", types_ENTP_path %> </a></li>
            <li><%= link_to "ESTJ-The Supervisor",types_ESTJ_path %> </a></li>
            <li><%= link_to "ESFJ-The Caregiver", types_ESFJ_path %> </a></li>
            <li><%= link_to "ENFJ-The Giver",     types_ENFJ_path %> </a></li>
            <li><%= link_to "ENTJ-The Executive", types_ENTJ_path %> </a></li>
          </ul>
        </li>
      </ul>
    </nav>

    <div class="navigation-tools">
      <div class="search-bar">
        <div class='dynamic_search' data-search="<#%= { types }.to_json %>">
          <%= form_tag('#', :method => "get", id: "search-form") do %>
            <%= text_field_tag :search, params[:search], placeholder: "types", class: "typeahead"%>
            <button type="submit">
              <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
            </button>
          <% end %>
        </div>
      </div>
      <% if current_user %>
        <%= link_to "Your Profile", user_path(current_user.id), class: "sign-up" %>
        <%= link_to "Log Out", logout_path, method: :destroy, class: "sign-up" %>
      <% else %>
        <%= link_to "Sign up with Twitter", "auth/twitter", class: "sign-up" %>
        <%= link_to "Sign up with Facebook", "auth/facebook", class: "sign-up" %>
      <% end %>
    </div>
  </div>
</header>
